@model WebApplication1.Models.ChucVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="function-page-title">CHI TIẾT CHỨC VỤ</h1>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChucVu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeSoChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeSoChucVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuCap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuCap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiSua)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
    </dl>
</div>
<p class="footer-function">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaChucVu }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
