@model WebApplication1.Models.Ct_Thuong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="function-page-title">CHI TIẾT KHEN THƯỞNG NHÂN VIÊN</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.PhongBan.TenPB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.PhongBan.TenPB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiThuong.TenLoaiThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiThuong.TenLoaiThuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiThuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayThuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>
    </dl>
</div>
<p class="footer-function">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaCTThuong }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>
