@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.ChamCong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="function-page-title">DANH SÁCH CHẤM CÔNG</h1>

<div class="list-employee">
    <div class="list-detail">
        @using (Html.BeginForm("Index", "ChamCong", FormMethod.Get))
        {

            <div class="row">
                <div class="form-check d-flex">
                    <span class="search-title">Ngày bắt đầu: </span>
                    @Html.TextBox("fromDate", null, new { placeholder = "MM/dd/YYYY", type = "date" })
                    <span class="search-title" style="margin-left:20px">Ngày kết thúc: </span>
                    @Html.TextBox("toDate", null, new { placeholder = "MM/dd/YYYY", type = "date" })
                    <span class="search-title" style="margin-left:20px">Phòng ban: </span>
                    @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control", style = "width:auto; margin-left:15px" })
                </div>
            </div>
            <div id="message" style="color:red"></div>
            <br />
            <div class="row">

                <div class="form-check d-flex">
                    <span class="search-title">Tìm kiếm theo : </span>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "MaNhanVien")<span> Mã nhân viên</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "TenNhanVien")<span> Tên nhân viên</span>
                    </label>
                </div>
            </div>

            <div class="row mt-3">
                <input class="input-search" type="text" placeholder="Nhập từ khóa tìm kiếm..." name="tenTimKiem" />
                <button class="btn btn-search" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                <a href='@Url.Action("Index", "ChamCong")' class="btn btn-reload" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
            </div>
        }
    </div>
    <br />
    @Html.Partial("_Notifications")

    <table class="table">
        <tr class="table-title">
            <th>
                @*@Html.DisplayNameFor(model => model.MaNhanVien)*@<label>Mã NV</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NhanVien.HoTen)*@<label>Họ tên</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Ngay)*@<label>Ngày</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ThoiGianVao)*@<label>Thời gian vào</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ThoiGianRa)*@<label>Thời gian ra</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ThoiGianLamViec)*@<label>TG làm việc</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ThoiGianTangCa)*@<label>Tăng ca</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TrangThai)*@<label>Trạng thái</label>
            </th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].MaNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].NhanVien.HoTen)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => Model[i].Ngay)*@
                    @Html.FormatValue("MM-dd-yyyy", Model[i].Ngay.ToString("MM-dd-yyyy"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ThoiGianVao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ThoiGianRa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ThoiGianLamViec)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ThoiGianTangCa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].TrangThai)
                </td>


            </tr>
        }

    </table>
    @Html.PagedListPager(Model,
                      page => Url.Action("Index", new { page, fromDate = Request.QueryString["fromDate"], toDate = Request.QueryString["toDate"], MaPB = Request.QueryString["MaPB"], loaiTimKiem = Request.QueryString["loaiTimKiem"], tenTimKiem = Request.QueryString["tenTimKiem"] }),
                      new PagedListRenderOptions()
                      {
                          Display = PagedListDisplayMode.IfNeeded,
                          DisplayPageCountAndCurrentLocation = true,

                      })
</div>