@model WebApplication1.Models.PhanQuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutQuanTri.cshtml";
}


<div>
    <h1 class="function-page-title">CHI TIẾT PHÂN QUYỀN</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuyen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenQuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>
</div>
<p class="footer-function">
    @{
        if (Model.MaQuyen == 1 || Model.MaQuyen == 2 || Model.MaQuyen == 3 || Model.MaQuyen == 4)
        {
            @Html.ActionLink("Quay lại danh sách", "Index")
        }
        else
        {
            @Html.ActionLink("Sửa", "Edit", new { id = Model.MaQuyen }) @:|
            @Html.ActionLink("Quay lại danh sách", "Index")
        }
    }

</p>
