@model List<WebApplication1.Models.PhanQuyen>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanTri.cshtml";
}
<link href="~/Style/CSS/style.css" rel="stylesheet" />
<html>
<body>
    <div class="list-employee">
        <h1>Phân quyền</h1>
        <div class="list-detail">
            <div class="row">
                

                <div class="form-check d-flex">
                    <a href='@Url.Action("Create", "PhanQuyen")' class="btn add-employee"><i class="fas fa-plus"></i> Thêm quyền</a>

                    @using (Html.BeginForm("Search", "PhanQuyen", FormMethod.Get))
                    {
                        <span style="margin-left: 10px">   Chọn : </span>
                        @Html.RadioButton("loaiTimKiem", "MaQuyen", true)<span> Mã quyền</span>
                        @Html.RadioButton("loaiTimKiem", "TenQuyen")<span> Tên quyền</span>

                        <input class="input-search" type="text" placeholder="Mời nhập..." name="tenTimKiem" />

                        <button class="btn btn-search" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                    }

                </div>
            </div>
            <div class="row mt-3">

                <a href='@Url.Action("Index", "PhanQuyen")' class="btn btn-reload" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
               
            </div>
        </div>
        <br />
        @Html.Partial("_Notifications")
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <table class="table">
                <tr>
                    <th><input type="checkbox" id="checkAll" /></th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.MaQuyen)*@<label>Mã quyền</label>
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.TenQuyen)*@<label>Tên quyền</label>
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.GhiChu)*@<label>Ghi chú</label>
                    </th>
                    <th>Chức năng</th>
                </tr>

                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { @class = "checkItem" })</td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].MaQuyen)
                            @Html.HiddenFor(modelItem => Model[i].MaQuyen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].TenQuyen)
                            @Html.HiddenFor(modelItem => Model[i].TenQuyen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[i].GhiChu)
                            @Html.HiddenFor(modelItem => Model[i].GhiChu)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = Model[i].MaQuyen }) |
                            @Html.ActionLink("Chi tiết", "Details", new { id = Model[i].MaQuyen })

                        </td>
                    </tr>
                }
            </table>



            <div class="row container button-footer">
                <div class="left-button">
                    <button type="submit" class="btn btn-delete_employee mr-2" onclick="return confirm('Bạn chắc chắn xóa chứ?')"><i class="fas fa-user-minus"></i> Xóa quyền</button>
                </div>
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $("#checkAll").change(function () {
            $(".checkItem").prop("checked", $(this).prop("checked"))
        })
        $(".checkItem").change(function () {
            if ($(this).prop("checked") == false) {
                $("#checkAll").prop("checked", false)
            }
            if ($(".checkItem:checked").length == $(".checkItem").length) {
                $("#checkAll").prop("checked", true)
            }
        })
    </script>

</body>

</html>

