@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.Nghi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h1 class="function-page-title">DANH SÁCH NHÂN VIÊN NGHỈ</h1>
<div class="list-employee">
    <div class="list-detail">
        @using (Html.BeginForm("Index", "Nghi", FormMethod.Get, new { onsubmit = "check()" }))
        {

            <div class="row">
                <div class="form-check d-flex">
                    <span class="search-title">Ngày bắt đầu: </span>
                    @Html.TextBox("fromDate", null, new { placeholder = "MM/dd/YYYY", type = "date"})
                    <span class="search-title" style="margin-left:20px">Ngày kết thúc: </span>
                    @Html.TextBox("toDate", null, new { placeholder = "MM/dd/YYYY", type = "date" })
                    <span class="search-title" style="margin-left:20px">Phòng ban: </span>
                    @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control", style = "width:auto; margin-left:15px" })
                </div>
            </div>
            <div id="message" style="color:red"></div>
            <br />
            <div class="row">
                <div class="form-check d-flex">
                    <span class="search-title">Trạng thái : </span>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "TatCa", true, new { @class = "mr-2" })
                        <span> Tất cả</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "HoatDong", false, new { @class = "mr-2" })
                        <span> Có phép</span>

                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "VoHieuHoa", false, new { @class = "mr-2" })
                        <span> Không phép</span>

                    </label>
                </div>
            </div>

            <div class="row mt-3">

                <button class="btn btn-search" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                <a href='@Url.Action("Index", "Nghi")' class="btn btn-reload" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
            </div>
        }
    </div>
    <br />
    @Html.Partial("_Notifications")
    @using (Html.BeginForm("DuyetPhep", "Nghi", FormMethod.Post))
    {
        <table class="table">
            <tr class="table-title">
                <th><input type="checkbox" id="checkAll" /></th>
                <th>
                    @*@Html.DisplayNameFor(model => model.MaNhanVien)*@<label>Mã nhân viên</label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NhanVien.HoTen)*@<label>Họ tên</label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Phep)*@<label>Ngày nghỉ</label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.NgayNghi)*@<label>Phép</label>
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => Model)*@<label>Ghi chú</label>
                </th>
                <th>Chức năng</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Html.CheckBoxFor(modelItem => Model[i].IsChecked, new { @class = "checkItem" })</td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].MaNhanVien)
                        @Html.HiddenFor(modelItem => Model[i].MaNhanVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].NhanVien.HoTen)
                        @Html.HiddenFor(modelItem => Model[i].NhanVien.HoTen)
                    </td>
                    <td>
                        @Html.FormatValue("MM-dd-yyyy", Model[i].NgayNghi.ToString("MM-dd-yyyy"))
                        @Html.HiddenFor(modelItem => Model[i].NgayNghi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model[i].Phep)
                        @Html.HiddenFor(modelItem => Model[i].Phep)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => Model[i].GhiChu)
                        @Html.HiddenFor(modelItem => Model[i].GhiChu)
                    </td>

                    <td>
                        <a href='@Url.Action("Details", "Nghi", new { id = Model[i].MaNhanVien, ngayNghi = Model[i].NgayNghi })' class="btn-detail" style="color:black"><i class="fas fa-eye"></i></a>
                        <a href='@Url.Action("Edit", "Nghi", new { id = Model[i].MaNhanVien, ngayNghi = Model[i].NgayNghi })' class="btn-edit" style="color:black"><i class="fas fa-pen-alt"></i></a>
                    </td>
                </tr>

            }

        </table>
        {
            if (Session["TenNhanVien"] == null)
            {
                <input type="hidden" value="Ẩn danh" name="NguoiDuyet" id="NguoiDuyet" />
                <input type="hidden" value="@DateTime.Now" name="NgaySua" id="NgaySua" />
            }
            else
            {
                <input type="hidden" value="@Session["TenNhanVien"]" name="NguoiDuyet" id="NguoiDuyet" />
                <input type="hidden" value="@DateTime.Now" name="NgaySua" id="NgaySua" />
            }
        }
        @Html.PagedListPager(Model,
                       page => Url.Action("Index", new { page, fromDate = Request.QueryString["fromDate"], toDate = Request.QueryString["toDate"], MaPB = Request.QueryString["MaPB"], trangThai = Request.QueryString["trangThai"] }),
                       new PagedListRenderOptions()
                       {
                           Display = PagedListDisplayMode.IfNeeded,
                           DisplayPageCountAndCurrentLocation = true,

                       })
        <div class="row container button-footer">
            <div class="left-button">
                <button type="submit" class="btn btn-success mr-2" onclick="return confirm('Bạn chắc chắn duyệt chứ?')" style="margin-left:40%"><i class="fas fa-save"></i> Lưu</button>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $("#checkAll").change(function () {
        $(".checkItem").prop("checked", $(this).prop("checked"))
    })
    $(".checkItem").change(function () {
        if ($(this).prop("checked") == false) {
            $("#checkAll").prop("checked", false)
        }
        if ($(".checkItem:checked").length == $(".checkItem").length) {
            $("#checkAll").prop("checked", true)
        }
    })
</script>
