@model WebApplication1.Models.LoaiPhat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="function-page-title">CHI TIẾT MỤC KỈ LUẬT</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiPhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiPhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiaTri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaTri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiSua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiSua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgaySua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySua)
        </dd>

    </dl>
</div>
<p class="footer-function">
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaLoaiPhat }) |
    @Html.ActionLink("Quay lại danh sách", "Index")
</p>

