@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.LuongCoBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTaiChinh.cshtml";
}

<h1 class="function-page-title">LƯƠNG CƠ BẢN</h1>

<div class="list-employee">
    <div class="list-detail">
        @using (Html.BeginForm("Index", "LuongCoBan", FormMethod.Get))
        {
            <div class="row">

                <div class="form-check d-flex">
                    <span class="search-title">Trạng thái : </span>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "TatCa", true, new { @class = "mr-2" })
                        <span> Tất cả</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "HoatDong", false, new { @class = "mr-2" })
                        <span> Hoạt động</span>

                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("trangThai", "VoHieuHoa", false, new { @class = "mr-2" })
                        <span> Vô hiệu hóa</span>

                    </label>
                </div>
            </div>

            <div class="row">

                <div class="form-check d-flex">

                    <span class="search-title">Tìm kiếm theo : </span>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "MaNhanVien", false, new { @class = "mr-2" })<span> Mã nhân viên</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "TenNhanVien", false, new { @class = "mr-2" })<span> Tên nhân viên</span>
                    </label>
                    <span class="search-title" style="margin-left:20px">Phòng ban: </span>
                    @Html.DropDownList("MaPB", null, htmlAttributes: new { @class = "form-control", style = "width:auto; margin-left:15px" })

                </div>
            </div>
            <div class="row mt-3">
                <input class="input-search" type="text" placeholder="Nhập từ khóa tìm kiếm..." name="tenTimKiem" />
                <button class="btn btn-search" type="submit" name="submit" value="timKiem"><i class="fas fa-search"></i> Tìm kiếm</button>
                <a class="btn btn-reload" href='@Url.Action("Index", "LuongCoBan")' style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
            </div>
        }

    </div>
</div>
<br />
@Html.Partial("_Notifications")
<table class="table">
    <tr class="table-title">
        <th>
            @*@Html.DisplayNameFor(model => model.TienLuongCoBan)*@<label>Mã NV</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TrangThai)*@<label>Họ tên</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NguoiSua)*@<label>Tiền lương cơ bản</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgaySua)*@<label>Ngày hiệu lực</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NhanVien.HoTen)*@<label>Trạng thái</label>
        </th>
        <th>Chức năng</th>
    </tr>

    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            @Html.HiddenFor(modelItem => Model[i].MaLuongCoBan)
            <td>
                @Html.DisplayFor(modelItem => Model[i].MaNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].NhanVien.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].TienLuongCoBan)
            </td>
            <td>
                @Html.FormatValue("MM-dd-yyyy", Model[i].NgaySua.ToString("MM-dd-yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model[i].TrangThai)
            </td>
            <td>
                <a href='@Url.Action("Details","LuongCoBan", new { id = Model[i].MaLuongCoBan })' class="btn-detail" style="color:black"><i class="fas fa-eye"></i></a>
                <a href='@Url.Action("Edit","LuongCoBan", new { id = Model[i].MaLuongCoBan })' class="btn-edit" style="color:black"><i class="fas fa-pen-alt"></i></a>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model,
                     page => Url.Action("Index", new { page, MaPB = Request.QueryString["MaPB"], trangThai = Request.QueryString["trangThai"], loaiTimKiem = Request.QueryString["loaiTimKiem"], tenTimKiem = Request.QueryString["tenTimKiem"] }),
                     new PagedListRenderOptions()
                     {
                         Display = PagedListDisplayMode.IfNeeded,
                         DisplayPageCountAndCurrentLocation = true,

                     })