@model WebApplication1.Models.PhongBan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="function-page-title">THÊM PHÒNG BAN</h1>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TenPB, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenPB, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenPB, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoDT, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoDT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoDT, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @{
                if (Session["TenNhanVien"] == null)
                {
                    <input type="hidden" value="Ẩn danh" name="NguoiSua" id="NguoiSua" />
                    <input type="hidden" value="@DateTime.Now" name="NgaySua" id="NgaySua" />
                }
                else
                {
                    <input type="hidden" value="@Session["TenNhanVien"]" name="NguoiSua" id="NguoiSua" />
                    <input type="hidden" value="@DateTime.Now" name="NgaySua" id="NgaySua" />
                }
            }
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div class="footer-function">
    @Html.ActionLink("Quay lại danh sách", "Index")
</div>
