@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.TaiKhoan>

@*@model List<WebApplication1.Models.TaiKhoanViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanTri.cshtml";
}

<h1 class="function-page-title">DANH SÁCH NGƯỜI DÙNG</h1>

<html>
<body>
    <div class="list-employee">
        <div class="list-detail">
            @using (Html.BeginForm("Index", "TaiKhoan", FormMethod.Get))
            {
                <div class="row">
                    <div class="form-check d-flex">
                        <span class="search-title">Tìm kiếm theo : </span>
                        <label class="radio-inline">
                            @Html.RadioButton("loaiTimKiem", "TenTK", true)<span> Tên tài khoản</span>
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("loaiTimKiem", "MaNhanVien")<span> Mã nhân viên</span>
                        </label>
                        <label class="radio-inline">
                            @Html.RadioButton("loaiTimKiem", "TenQuyen")<span> Tên quyền</span>
                        </label>

                    </div>
                </div>
                <div class="row mt-3">
                    <input class="input-search" type="text" placeholder="Nhập từ khóa tìm kiếm..." name="tenTimKiem" />
                    <button class="btn btn-search" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                    <a href='@Url.Action("Index", "TaiKhoan")' class="btn btn-reload" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
                </div>
            }
        </div>
    </div>
    <br />
    @Html.Partial("_Notifications")
    <table class="table">
        <tr class="table-title">
            <th>
                @*@Html.DisplayNameFor(model => model.TenTK)*@<label>Tên tài khoản</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MatKhau)*@<label>Mật khẩu</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NhanVien.HoTen)*@<label>Mã NV</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NhanVien.HoTen)*@<label>Họ tên</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PhanQuyen.TenQuyen)*@<label>Tên quyền</label>
            </th>
            <th>Chức năng</th>
        </tr>


        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].TenTK)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => Model[i].MatKhau)@Html.Raw("\u2022\u2022\u2022\u2022\u2022")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].MaNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].NhanVien.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].PhanQuyen.TenQuyen)
                </td>
                <td>
                    @*<input class="btn-edit" type="button" value="Sửa" onclick="window.location.href= '@Url.Action("Edit","TaiKhoan", new { id = item.MaNhanVien })'" /> |
                        <input class="btn-detail" type="button" value="Chi tiết" onclick="window.location.href= '@Url.Action("Details", "TaiKhoan", new { id = item.MaNhanVien })'" />*@
                    <a href='@Url.Action("Details","TaiKhoan", new {  id = Model[i].MaNhanVien})' class="btn-detail" style="color:black"><i class="fas fa-eye"></i></a>
                    <a href='@Url.Action("Edit","TaiKhoan", new { id = Model[i].MaNhanVien })' class="btn-edit" style="color:black"><i class="fas fa-pen-alt"></i></a>

                </td>
            </tr>
        }

    </table>

    @Html.PagedListPager(Model,
            page => Url.Action("Index", new { page, loaiTimKiem = Request.QueryString["loaiTimKiem"], tenTimKiem = Request.QueryString["tenTimKiem"] }),
            new PagedListRenderOptions()
            {
                Display = PagedListDisplayMode.IfNeeded,
                DisplayPageCountAndCurrentLocation = true,

            })
</body>
</html>
