@model WebApplication1.Models.LuongThang
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutTaiChinh.cshtml";
}
<style>
    .table-ct_luong {
        margin-left: 17%;
    }

    .title {
        font-weight: bold;
        margin-left: 30px;
        margin-right: 25px;
        text-align: right;
    }

    .row-table {
        margin-bottom: 20px;
    }

     .tongluong {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    h4 {
        color: #ff5902;
        margin-left: 30%;
        margin-top: 5%;
        font-size:35px
    }

    .td-title {
        text-align: right;
    }

     .bottom-title {
        height: 75px;
        position: relative;
    }

    .table-content, .top-title {
        min-width: 100%;
    }

    .table-ct_luong {
        font-size:23px;
        margin: 0 auto;
    }
    .thang-nam-title {
        font-size: 27px;
        text-align: center;
        text-decoration: underline dashed blue;
    }

    .btn-print-salary {
        background-color: white;
        color: black;
        padding: 0.5rem 1rem;
        margin-left:9%;
        border-color:#1200ff
        
    }
    .btn-close {
        background-color: white;
        color: black;
        padding: 0.5rem 1rem;
        border-color: red
    }
    .fa-file-download {
        color: #03ff00;
        font-size: 30px
    }
    .fa-window-close {
        color: red;
        font-size: 30px
    }
   
</style>
<h1 class="function-page-title">CHI TIẾT LƯƠNG</h1>
<div class="table-content">
    <div class="top-title">
        <p class="thang-nam-title">Tháng <strong>@Model.ThangNam.Month</strong> Năm  <strong>@Model.ThangNam.Year</strong></p>
    </div>
    <table class="table-ct_luong">
        <tr class="row-table">
            <td class="td-title"><label class="title">Mã nhân viên:</label></td>
            <td><label>@Html.DisplayFor(model => model.LuongCoBan.MaNhanVien)</label></td>
            <td class="td-title"><label class="title">Họ tên:</label></td>
            <td><label>@Html.DisplayFor(model => model.LuongCoBan.NhanVien.HoTen)</label></td>
        </tr>
        <tr class="row-table">
            <td class="td-title"><label class="title">Phòng ban:</label></td>
            <td><label>@Html.DisplayFor(model => model.LuongCoBan.NhanVien.PhongBan.TenPB)</label></td>
            <td class="td-title"><label class="title">Chức vụ:</label></td>
            <td><label>@Html.DisplayFor(model => model.LuongCoBan.NhanVien.ChucVu.TenChucVu)</label></td>
        </tr>

        <tr class="row-table">
            <td class="td-title"><label class="title">Lương cơ bản:</label></td>
            <td><label>@Html.DisplayFor(model => model.LuongCoBan.TienLuongCoBan)</label></td>
            <td class="td-title"><label class="title">Hệ số lương:</label></td>
            <td><label>@Html.DisplayFor(model => model.HeSoLuong)</label></td>
        </tr>
        <tr class="row-table">
            @{
                double tienLamViecMotGio = (double)((Model.LuongCoBan.TienLuongCoBan * Model.HeSoLuong + Model.PhuCap) / 176);
                double tienLamViecTangCaMotGio = tienLamViecMotGio * 150 / 100;
            }
            <td class="td-title"><label class="title">Tổng giờ công:</label></td>
            <td><label>@Html.DisplayFor(model => model.TongGioLamViec) | @Math.Round(tienLamViecMotGio) VNĐ</label></td>
            <td class="td-title"><label class="title">Tổng giờ tăng ca:</label></td>
            <td><label>@Html.DisplayFor(model => model.TongGioTangCa) | @Math.Round(tienLamViecTangCaMotGio) VNĐ</label></td>
        </tr>
        <tr class="row-table">
            @{
                double tienCong = Math.Round(Math.Round(tienLamViecMotGio) * Model.TongGioLamViec);
                double tienTangCa = Math.Round(Math.Round(tienLamViecTangCaMotGio) * Model.TongGioTangCa);
            }
            <td class="td-title"><label class="title">Tiền công:</label></td>
            <td><label>@tienCong VNĐ</label></td>
            <td class="td-title"><label class="title">Tiền tăng ca:</label></td>
            <td><label>@tienTangCa VNĐ</label></td>
        </tr>
        <tr class="row-table">
            <td class="td-title"><label class="title">Tổng tiền thưởng:</label></td>
            <td><label>@Html.DisplayFor(model => model.TongThuong)</label></td>
            <td class="td-title"><label class="title">Tổng tiền phạt:</label></td>
            <td><label>@Html.DisplayFor(model => model.TongPhat)</label></td>
        </tr>
    </table>
    @{
        int tienThuong = Model.TongThuong;
        int tienPhat = Model.TongPhat;
        double tongLuong = tienCong + tienTangCa + tienThuong - tienPhat;
    }
    <div class="bottom-title">
        <h4 class="tongluong">Tổng lương: @tongLuong VNĐ</h4>
    </div>

    <div class="footer-function" style="margin-left:41%">
        <a class="btn btn-close" href="/ThongKeLuong/TheoPhongBan"><i class="fas fa-window-close"></i></a>
        <a class="btn btn-print-salary" href="/ThongKeLuong/Print/?id=@Model.MaLuong_Thang&maNV=@Model.LuongCoBan.MaNhanVien&month=@Model.ThangNam.Month&year=@Model.ThangNam.Year" target="_blank"><i class="fas fa-file-download"></i></a>
    </div>
   
</div>
